/* importing font */

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;300;400;500;700&display=swap');

/* cores do projeto */

:root {
    --white: #ffffff;
    --grey: #919193;
    --gradiente: linear-gradient(to left, #40a376, #5578ba);
    --margin_default: 1rem;
}

/* resetting css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

/* body */

body {
    font-family: 'Sora', sans-serif;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.container {
    max-width: 540px;
    margin: auto;
    padding: 20px;
    color: var(--white);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* header */

header .photo {
    width: 100px;
}

header .photo img {
    width: 100%;
    background-image: var(--gradiente);
    border-radius: 50%;
}

header h1 {
    margin-top: var(--margin_default);
    font-size: 2em;
    font-weight: 500;
}

header p {
    color: var(--grey);
    margin: var(--margin_default) 0;
}

/* main */

main {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

main li {
    background-image: var(--gradiente);
    list-style: none;
    height: 4em;
    border-radius: 2em;
}

main li a {
    padding: 1em 2em;
    text-decoration: none;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

main li a img {
    width: 1.2em;
}

/* footer */

footer {
    margin: var(--margin_default) 0;
    display: flex;
    justify-content: center;
    gap: 1.5em;
}

footer a {
    background-image: var(--gradiente);
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

footer a img {
    width: 1.2em;
}